<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudplatform.dao.CommonUserMapper">
  <resultMap id="BaseResultMap" type="com.cloudplatform.pojo.CommonUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="isactive" jdbcType="VARCHAR" property="isactive" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commonUser
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cloudplatform.pojo.CommonUser">
    insert into commonUser (id, username, password, 
      isactive)
    values (#{record.id,jdbcType=VARCHAR}, #{record.username,jdbcType=VARCHAR}, #{record.password,jdbcType=VARCHAR},
      #{record.isactive,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloudplatform.pojo.CommonUser">
    update commonUser
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      isactive = #{isactive,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, username, password, isactive
    from commonUser
    where id = #{record.id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, isactive
    from commonUser
  </select>
    <select id="selectByCommonUser" resultType="com.cloudplatform.pojo.CommonUser">
      select id, username, password, isactive from commonUser
      <where>
        <if test="user.id!=null">
          and id=#{user.id}
        </if>
        <if test="user.username!=null">
          and username=#{user.username}
         </if>
        <if test="user.password!=null">
             and password=#{user.password}
        </if>
      </where>
    </select>
</mapper>